<div class="album-section">
    <div class="album-cover" style="background-image: url('/assets/images/gow.png');">
        <div class="info">
            <p class="title">Playlist Title</p>
            <p class="desc"> A general short description of your playlist</p>
        </div>
    </div>
    <table class="album-songs">
        <thead class="t-head">
            <tr>
                <th>#</th>
                <td class="h-m"></td>
                <th>Title</th>
                <th>Length</th>
                <th>Artist</th>
                <th>Album</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td class="h-m"><img src="/assets/images/loaded-music.png" alt=""></td>
                <td class="td">Agalliao</td>
                <td>4:12</td>
                <td>Emmanuel Iren</td>
                <td>Album</td>
            </tr>
            <tr class="active">
                <td [ngSwitch]="true">
                    <span *ngSwitchCase="false">2</span>
                    <span *ngSwitchCase="true"><i class="fa fa-play"></i></span>
                </td>
                <td class="h-m"><img src="/assets/images/loaded-music.png" alt=""></td>
                <td class="td">Now That We Are Married</td>
                <td>4:12</td>
                <td>Theophilus Sunday</td>
                <td>Album</td>
            </tr>
            <tr>
                <td>3</td>
                <td class="h-m"><img src="/assets/images/loaded-music.png" alt=""></td>
                <td class="td">Now That We Are Married</td>
                <td>4:12</td>
                <td>Theophilus Sunday</td>
                <td>Album</td>
            </tr>
            <tr>
                <td>4</td>
                <td class="h-m"><img src="/assets/images/loaded-music.png" alt=""></td>
                <td class="td">Now That We Are Married</td>
                <td>4:12</td>
                <td>Theophilus Sunday</td>
                <td>Album</td>
            </tr>
            <tr>
                <td>5</td>
                <td class="h-m"><img src="/assets/images/loaded-music.png" alt=""></td>
                <td class="td">Now That We Are Married</td>
                <td>4:12</td>
                <td>Theophilus Sunday</td>
                <td>Album</td>
            </tr>
            <tr>
                <td>6</td>
                <td class="h-m"><img src="/assets/images/loaded-music.png" alt=""></td>
                <td class="td">Now That We Are Married</td>
                <td>4:12</td>
                <td>Theophilus Sunday</td>
                <td>Album</td>
            </tr>
            <tr>
                <td>7</td>
                <td class="h-m"><img src="/assets/images/loaded-music.png" alt=""></td>
                <td class="td">Now That We Are Married</td>
                <td>4:12</td>
                <td>Theophilus Sunday</td>
                <td>Album</td>
            </tr>
            <tr>
                <td>8</td>
                <td class="h-m"><img src="/assets/images/loaded-music.png" alt=""></td>
                <td class="td">Now That We Are Married</td>
                <td>4:12</td>
                <td>Theophilus Sunday</td>
                <td>Album</td>
            </tr>
            <tr>
                <td>9</td>
                <td class="h-m"><img src="/assets/images/loaded-music.png" alt=""></td>
                <td class="td">Now That We Are Married</td>
                <td>4:12</td>
                <td>Theophilus Sunday</td>
                <td>Album</td>
            </tr>
            <tr>
                <td>10</td>
                <td class="h-m"><img src="/assets/images/loaded-music.png" alt=""></td>
                <td class="td">Now That We Are Married</td>
                <td>4:12</td>
                <td>Theophilus Sunday</td>
                <td>Album</td>
            </tr>
        </tbody>
    </table>
</div>