.item{
    display: inline-block;
    height: 280px;
    width: 200px;
    border-radius: 12px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 0;
    overflow: hidden;
}

.item .cover{
    margin: 0;
    width: 200px;
    background-repeat: no-repeat;
    background-size: contain;
    height: 200px;
}

.item .morph{
    position: relative;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(5px);
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0 10px;
}

.item .morph .play{
    position: absolute;
    text-align: center;
    top: -20px;
    right: 10px;
}

.item .morph .play i{
    position: relative;
    padding: 10px 12px;
    font-size: 14px;
    background-color: #FCFCFC;
    border-radius: 100%;
    color: #171719;
}

.item .morph .title{
    font-size: 16px;
    color: #FCFCFC;
    margin: 0;
    padding: 10px 0 0 0;
    font-family: 'Inter-SemiBold';
    word-break: keep-all;
    white-space: wrap;
}

.item .morph .artist{
    font-size: 14px;
    color: #9898A6;
    margin: 8px 0 0 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media only screen and (max-width: 575.98px) and (orientation:portrait) {
    .item{
        height: 220px;
        width: 130px;
    }
    
    .item .cover{
        width: 130px;
        height: 130px;
    }

    .item .morph .play{
        top: -15px;
    }

    .item .morph .play i{
        padding: 6px 8px;
        font-size: 14px;
    }
}