<section class="main-body h-100">
  <section class="open-surf">
    <aside>

    </aside>
    <div class="media-surface"></div>
  </section>
  <section class="media-controls">
    <div class="now-playing">
      <div class="media">
        <img src="/assets/images/loaded-music.png" alt="">
      </div>
      <div class="desc">
        <p class="artist">Theophilus Sunday</p>
        <p class="title marquee">Now that we are married</p>
        <p class="from">Play from Coexist</p>
      </div>
    </div>
    <div class="play-media">
      <div class="playing-controls">
        <span><i class="fa fa-repeat"></i></span>
        <span><i class="fa fa-backward-step"></i></span>
        <span><i class="fa fa-play"></i></span>
        <span><i class="fa fa-forward-step"></i></span>
        <span><i class="fa fa-shuffle"></i></span>
      </div>
      <div class="playing-indicator">
        <span class="time">12:59</span>
        <div class="length">
          <div class="buffer">
            <div class="current"></div>
          </div>
        </div>
        <span class="time">12:59</span>
      </div>
    </div>
    <div class="media-out">
      <span><i class="fa fa-volume-high"></i></span>
      <span><i class="fa-brands fa-chromecast"></i></span>
      <span><i class="fa fa-bars"></i></span>
      <span class="up"><i class="fa fa-chevron-up"></i></span>
    </div>
  </section>
</section>
<router-outlet></router-outlet>
