.media-controls{
    position: absolute;
    display: flex;
    bottom: 0;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #1F1F22;
    padding: 10px;
}

.media-controls .now-playing{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 200px;
    overflow: hidden;
}

.media-controls .now-playing .media{
    margin-right: 5px;
}

.media-controls .now-playing .media,
.media-controls .now-playing .media img{
    height: 50px;
    width: 50px;
}
.media-controls .now-playing .desc{
    overflow: hidden;
}

.media-controls .now-playing .desc p{
    margin: 0;
    font-family: "Inter-SemiBold";
    white-space: nowrap;
}

.media-controls .now-playing .desc .artist{
    color: #FCFCFC;
    font-size: 14px;
}

.media-controls .now-playing .desc .title,
.media-controls .now-playing .desc .from{
    color: #FCFCFCA6;
    text-transform: uppercase;
    font-size: 10px;
}

.media-controls .now-playing .desc .title{
    font-size: 14px;
}

.media-out{
    padding: 0 10px;
}

.media-out .m-more{
    display: none;
}

.media-out span, .media-out i{
    padding: 10px;
    color: #FCFCFC;
    font-size: 16px;
}

.play-media{
    width: 500px;
    overflow: hidden;
}

.play-media .title{
    display: none;
}

.play-media .playing-controls{
    text-align: center;
}

.play-media .playing-controls span,
.play-media .playing-controls span i{
    padding: 10px;
    color: #FCFCFC;
    font-size: 16px;
    text-align: center;
    align-content: center;
}

.play-media .playing-controls span i{
    height: 36px;
    width: 36px;
    border: 1px solid transparent;
    border-radius: 100%;
}

.play-media .playing-controls span i:hover{
    border: 1px solid #95979b7e;
}

.playing-indicator{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.playing-indicator .length, .playing-indicator .length .buffer,
.playing-indicator .length .buffer .current{
    height: 4px;
    border-radius: 8px;
}

.playing-indicator .length{
    width: 100%;
    margin: 0 5px;
    background-color: #4C4E54;
}

.playing-indicator .length .buffer{
    width: 70%;
    background-color: #95979b;
}

.playing-indicator .length .buffer .current{
    width: 66%;
    background-color: #FCFCFC;
}

.playing-indicator .time{
    font-size: 12px;
    color: #4C4E54;
}

.open-surf{
    display: flex;
    flex-direction: row;
    height: 100%;
}

.open-surf aside{
    background-color: #212124;
    height: 100%;
    width: 300px;
    padding: 10px 10px 75px 10px;
    overflow-y: scroll;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.open-surf aside .user-set{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.open-surf aside .user-set .usr{
    background-color: #95979b;
    border-radius: 100%;
    padding: 10px;
    text-align: center;
    align-content: center;
    margin: 0;
    color: #FCFCFC;
}

.open-surf aside .user-set span{
    color: #FCFCFC;
    font-size: 16px;
}

aside .panel{
    margin-top: 20px;
}

aside .panel .heading{
    color: #9898A6;
    font-size: 12px;
    text-transform: uppercase;
    padding: 0;
}

aside .panel p:not(.heading) a{
    color: #FCFCFC;
    font-size: 14px;
    margin: 0;
    padding: 10px;
    text-decoration: none;
}

aside .panel ul{
   margin: 0;
   list-style-type: none;
   padding-left: 20px;
}

aside .panel ul li{
    padding: 8px 0;
}

aside .panel ul li a{
    color: #FCFCFC;
    font-size: 12px;
    word-break: break-all;
    text-overflow: ellipsis;
    text-decoration: none;
}

aside .panel ul li svg{
    height: 24px;
    width: 24px;
    vertical-align: middle;
    margin-right: 10px;
}

aside .panel ul li a:hover,
aside .panel p:not(.heading):hover{
    color: #FCFCFCA6;
    cursor: pointer;
}

aside .panel p.active a{
    color: #00FFFF;
}

.open-surf .planars{
    background-color: #171719;
    height: 100%;
    width: 100%;
    padding: 20px 30px 75px 30px;
    overflow-y: scroll;
}

.planars .top-bar{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.top-bar .mobile-menu{
    display: none;
    font-size: 18px;
    color: #FCFCFC;
}

.planars .top-bar .search{
    background-color: #1F1F22;
    border: 1px solid #EBEBFF31;
    border-radius: 12px;
    padding: 6px 10px;
}

.planars .top-bar .search span{
    font-size: 14px;
    color: #FCFCFC;
    margin-right: 10px;
}

.planars .top-bar .search input{
    border: none;
    outline: none;
    font-size: 14px;
    color: #FCFCFC;
    background-color: transparent;
    width: 200px;
}



/*********************************************************************/
/***************************Mobile phones*****************************/
/*********************************************************************/
@media only screen and (max-width: 575.98px) and (orientation:portrait) {
/* For portrait layouts only */
    .open-surf aside{
        position: absolute;
        z-index: 10;
        width: 200px;
    }

    .planars .top-bar{
        justify-content: space-between;
    }

    .top-bar .mobile-menu{
        display: block;
    }

    .media-controls .now-playing{
        width: auto;
    }

    .now-playing .desc{
        display: none;
    }

    .media-controls .play-media{
        width: 250px;
    }

    .play-media .title{
        display: block;
        margin: 0;
        word-break: keep-all;
        white-space: nowrap;
        color: #FCFCFC;
        font-size: 12px;
    }

    .play-media .playing-controls span{
        padding: 0;
        font-size: 14px;
        margin-right: 10px;
    }
    
    .play-media .playing-controls span i{
        padding: 0;
        height: 30px;
        width: 30px;
    }

    .media-out {
        padding: 0;
    }

    .media-out .m-more{
        display: block;
        padding: 5px;
        transform: rotate(90deg);
    }

    .media-out .out-ct{
        position: absolute;
        display: none;
    }
}

@media only screen and (min-width: 360px) and (max-width: 575.98px) and (orientation:portrait) {
    /* For portrait layouts only */
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
/* For landscape layouts only */
}

/*********************************************************************/
/******************************Tablets********************************/
/*********************************************************************/
@media only screen and (min-width: 576px) and (max-width: 991.98px){
    /*All tablets */

}

@media only screen and (min-width: 576px) and (orientation:portrait){
    /*small pablets */

}

@media only screen and (min-width: 768px) {
    /*specific pablets */
}

@media only screen and (max-width: 767.98px) {
    /*specific pablets */
}

@media only screen and (max-width: 991.98px) {
    /*specific pablets */
}


/*********************************************************************/
/***************************Small Laptops*****************************/
/*********************************************************************/
@media only screen and (min-width: 992px)and (max-width: 1199.98px) {
    /* All small laptops*/

}



/*********************************************************************/
/**********************Bigger screens/smart TVs***********************/
/*********************************************************************/
@media only screen and (min-width: 1200px) {}
